<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <P>{{message}}</P>
        <p>Go back to <a href="{{navurl}}"> Home</a></p>
    </div>
{{>footer}}
</body>
</html>